.swiper-scrollbar {
    height: 7px !important;
    margin-top: 7px;
    position: static !important;
    background-color: rgb(240, 241, 255);
}

.swiper-scrollbar-drag {
    background-color: rgb(10, 10, 204);
}